- @content_width = 1024

- if admin?
  a.float-right href=attendance_notifications_path &Pi;

h1 Semester for #{@group_semester.group.name}

ul.nav.nav-tabs role="tablist"
  li.nav-item: a.nav-link.active data-target="#form" role="tab" data-toggle="tab" Generelt
  li.nav-item: a.nav-link data-target="#plan" role="tab" data-toggle="tab" Plan
  li.nav-item: a.nav-link data-target="#history" role="tab" data-toggle="tab" Historie

.tab-content
  #form.tab-pane.active = render 'form'
  #plan.tab-pane
    - upcoming_practices = @group_semester.practices.select { |p| p.date >= Date.current }
    = render 'edit_practices_table', practices: upcoming_practices, reverse: false
  #history.tab-pane
    - past_practices = @group_semester.practices.select { |p| p.date < Date.current }
    = render 'edit_practices_table', practices: past_practices, reverse: true

javascript:
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $($(e.target).data("target")).find('form > textarea').expanding();
    });