<h1>Nytt semester</h1>

<%= render 'form' %>

<p>
  Dette vil starte prosessen med å sette opp instruktører, graderinger og første/siste trening
  for gruppene som følger skoleåret.
</p>

<%= back_or_link_to 'Tilbake', semesters_path, :class => 'icon-back' %>
