<h1>Embu <%= @embu.user.name %> <%= @embu.rank.name %></h1>

<div style="font-size: 20pt">
  <%= textilize(@embu.description.gsub('æ', '&aelig;').gsub('ø', '&oslash;').gsub('å', 'aa')).html_safe %>
</div>
