*~
/.bundle
/.idea
/archive.tar.gz
/coverage
/log/*.log
/node_modules
/public/heap*.json
/public/icon/*.png
/public/images/*.webp
/public/images/inline/*.*
/public/images/*/inline/*.*
/public/images/*/blurred.*
/public/images/*/inline.*
/public/images/*/show.*
/public/members/*/image.*
/public/members/*/thumbnail.*
/tmp

# Ignore master key for decrypting credentials and more.
/config/master.key
