*~
/.bundle
/.idea
/archive.tar.gz
/coverage
/log/*.log
/public/heap*.json
/public/icon/*.png
/public/images/*/inline/*
/public/images/*/show.*
/public/members/*/image.*
/public/members/*/thumbnail.*
/tmp

# Ignore master key for decrypting credentials and more.
/config/master.key
