dist: trusty
sudo: false
language: ruby
cache: bundler

addons:
  chrome: stable

before_install:
  - wget "http://chromedriver.storage.googleapis.com/2.31/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - rm chromedriver_linux64.zip
  - mv chromedriver /home/travis/bin/

script:
  - bin/rails db:setup test

env:
  secure: KhzvCYgAuP5G/6gnHrYLVa/XJ3oFPAXUtsM/HqpY9U+TKXmp/mw3ktAgYBu5ydQCkjQd6mNOB2z42RC6jfJh8LKoT84IB4Iz5v0nmPuSal5QMYd8culUFH+B/9olrekYFb2xVuyCzv2Vvi0dS33nE1yrLCtayVt/G7HtQ2LvNhg=
