language: ruby
cache:
  bundler: true
  yarn: true

addons:
  chrome: stable
  postgresql: "9.6"

before_install:
  - CHROME_VERSION=`/opt/google/chrome/chrome --version | grep -Po '(?<=Google Chrome )[^.]+'`
  - LATEST_CHROMEDRIVER=$(wget -q -O - http://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION)
  - wget http://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - rm chromedriver_linux64.zip
  - mv chromedriver /home/travis/bin/

install:
  - yarn

script:
  - bin/rails db:setup test:full

env:
  secure: KhzvCYgAuP5G/6gnHrYLVa/XJ3oFPAXUtsM/HqpY9U+TKXmp/mw3ktAgYBu5ydQCkjQd6mNOB2z42RC6jfJh8LKoT84IB4Iz5v0nmPuSal5QMYd8culUFH+B/9olrekYFb2xVuyCzv2Vvi0dS33nE1yrLCtayVt/G7HtQ2LvNhg=
