a.btn.btn-danger.float-right href=signup_path(@signup) data-confirm='Are you sure?' data-method=:delete
  i.fa.fa-trash>
  | Slett

h1 Prøvemedlem

== render 'form'

=> link_to 'Show', @signup
'|
=< link_to 'Index', signups_path

