a.btn.btn-danger.float-right href=signup_path(@signup) data-confirm="Er du sikker på at du vil slette innmeldingen for #{@signup.user.label}?" data-method=:delete
  i.fa.fa-trash>
  | Slett

h1 Innmelding

== render 'form'

=> link_to 'Show', @signup
'|
=< link_to 'Index', signups_path
