* {
    -webkit-transition: .0s !important;
    transition: .0s !important;
    -webkit-transform: .0s !important;
    transform: .0s !important;
    -webkit-animation: .0s !important;
    animation: .0s !important;
}
