.slide {
  position: relative;
  padding: 10%;
  @media all and (min-width: 992px) {
    padding: 18vh 10%;
  }
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
  border: thin solid black;

  &:not(.header):not(footer) {
    img {
      @extend .d-none;
      @extend .d-lg-block;
      position: absolute;
      top: 67%;
      left: 67%;
      width: 320px;
      transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
      padding: 10px;
      border-radius: 5px;
      background: rgba(240, 230, 220, .7);
      box-shadow: 0 0 8px rgba(0, 0, 0, .7);

      &:first-of-type {
        transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
      }
    }
  }
}

@media all and (min-width: 992px) {
  .slide:not(.header):not(footer) {
    img {
      top: 50%;
      left: 35%;
    }

    &:nth-of-type(2n) img {
      right: 0;
      left: unset;

      &:first-of-type {
        transform: translateZ(.25px) scale(.75) translateX(-56%) translateY(-100%) rotate(2deg);
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .slide:not(.header):not(footer):nth-of-type(2n) img {
    right: 10%;
  }
}

body:not(.modal-open) .slide.header img {
  transform: translateZ(.4px) scale(.6) translateY(-3rem);
  @media all and (max-height: 400px) {
    transform: translateZ(.4px) scale(.6) translateY(-10rem);
  }
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.slide:nth-of-type(2n):before {
  left: 0;
}

.title {
  @extend .col-lg-6;
  @extend .col-xl-7;
  @extend .position-static;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.slide:not(.header):nth-child(2n+1) {
  z-index: 2;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  z-index: 2;
}

body:not(.modal-open) #title {
  h1 {
    margin-top: 2rem;
  }

  h1, h2 {
    transform: translateZ(.25px) scale(.75);
  }
}
