<%= error_messages_for 'graduate' %>

<!--[form:graduate]-->
<p><label for="graduate_passed">Passed</label><br/>
<select id="graduate_passed" name="graduate[passed]"><option value="false">False</option><option value="true">True</option></select></p>

<p><label for="graduate_paid_graduation">Paid graduation</label><br/>
<select id="graduate_paid_graduation" name="graduate[paid_graduation]"><option value="false">False</option><option value="true">True</option></select></p>

<p><label for="graduate_paid_belt">Paid belt</label><br/>
<select id="graduate_paid_belt" name="graduate[paid_belt]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:graduate]-->

