<% if @graduate.destroyed? %>
  $('#graduate_<%=@graduate.id%>').remove();
  var list = $('#graduates_list_candidates');
  list.html('<div class="text-center p-5"><i class="fa fa-circle-o-notch fa-spin fa-5x mb-3"></i><br>Et øyeblikk...</div>');
  list.show();
  list.load('<%=graduates_list_graduation_path(@graduate.graduation, :candidates)%>', handleGraduatesListLoad);
<% else %>
  $('#graduate_<%= @graduate.id %> .fa-question').attr('data-original-title', 'Kunne ikke slette kandidaten: <%=@graduate.errors.full_messages.join %>').tooltip('show')
<% end %>
