<h1>Hei <%= @member.first_name %> !</h1>

Føgende sider trengs å sees over:

<ul>
  <% @pages.each do |page| %>
      <li><%= link_to page.title, UserSystem.with_login(@member.user, :controller => :info, :action => :edit, :id => page.id) %></li>
  <% end %>
</ul>

Se over at innholdet er OK, og huk av på "Revidert" før du lagrer.
Hvis siden ikke er relevant lenger, huk av på "Skjul".
Du vil få ny påmindelse om 6 måneder.
