h2.mb-0 Profilbilde

#error_message.alert.alert-danger.mt-3 style='display: none'
- has_image = @user.persisted? && @user.profile_image
.row
  .col-auto.mx-auto.mt-3.align-self-center
    #current_image style=('display:none' unless has_image)
      - if has_image
        img#profile_image.bordered.mw-100 src=(inline_image_path(@user.profile_image) if has_image) style="max-height:90vh"
        a.btn.btn-danger.position-absolute.mr-3 style="top:0;right:0" href=with_detour(image_path(@user.profile_image)) data-method=:delete data-confirm="Er du sikker på at du vil slette profilbildet?"
          i.fa.fa-trash>
          | Slett
      button#new_photo.btn.btn-primary.ml-3.position-absolute type="button" style='bottom:0;left:0' onclick='startPhotoBooth()'
        i.fa.fa-camera.fa-fw>
        | Ta nytt bilde
      a.btn.btn-success.position-absolute.ml-3 href=user_path(@user) style="top:0;left:0"
        i.fa.fa-thumbs-up>
        | Bruk
    #photo_booth style=('display:none')
      video#video.w-100 autoplay='autoplay'
      canvas#canvas.d-none
      button#snap.btn.btn-primary.ml-3.position-absolute type="button" style='bottom:0;left:0'
        i.fa.fa-camera.fa-fw>
        | Ta bilde
      a.btn.btn-warning.mr-3.position-absolute href=(has_image ? photo_user_path(@user) : user_path(@user)) style='top:0;right:0'
        i.fa.fa-times>
        | Avbryt
      #camera_selector.mr-3.position-absolute style='bottom:0;right:0'
  - @user.profile_images.drop(1).each do |ui|
    .col-auto.mx-auto.mt-3
      img src=image_path(ui.image) style="width:320px;height:240px;object-fit:contain"
      a.btn.btn-success.position-absolute.mr-3 href=use_user_image_path(ui) data-method=:patch style="right:0"
        i.fa.fa-thumbs-up>
        | Bruk
      a.btn.btn-danger.position-absolute.ml-3 style="bottom:0;left:0" href=with_detour(image_path(ui.image)) data-method=:delete data-confirm="Er du sikker på at du vil slette profilbildet?"
        i.fa.fa-trash>
        | Slett

javascript:
  let video = document.getElementById('video');
  let canvas = document.getElementById('canvas');
  let context = canvas.getContext('2d');
  let cameras = [];
  let currentStream;

  function startPhotoBooth() {
    // Get access to the camera!
    if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
      $('#new_photo').contents().last()[0].textContent = ' Starter kamera';
      $('#new_photo i').removeClass('fa-camera').addClass('fa fa-spinner fa-spin fa-fw');
      getCameras();
    } else {
      alert("Kamera er ikke tilgjengelig.");
    }
  }

  function getCameras() {
    try {
      navigator.mediaDevices.enumerateDevices().then(function(devices) {
        devices.forEach(function(device) {
          if (device.kind === 'videoinput') {
            console.log(device.kind + ": " + device.label + " id = " + device.deviceId);
            cameras.push(device);
            const btn = $('<button class="btn btn-secondary btn-sm ml-2" onclick="initCamera(' + "'" + device.deviceId + "'" + ')" title="' + device.label + '"><i class="fa fa-camera"</i></button>');
            $('#camera_selector').append(btn);
            btn.tooltip();
          }
        });
        initCamera(cameras[0]);
      }).catch(function(err) {
        console.log(err.name + ": " + err.message);
        $('#error_message').append(err).show();
      });
    } catch (error) {
      console.error(error)
      $('#error_message').append(error).show();
    }
  }

  function initCamera(deviceId) {
    if (currentStream) {
      tracks = currentStream.getTracks();
      tracks.forEach(track => track.stop());
      currentStream = null;
    }
    navigator.mediaDevices.getUserMedia({
      video: {deviceId: deviceId}
    }).then(function(stream) {
      currentStream = stream;
      video.srcObject = stream;
      video.play();
    }).catch(function(err) {
      console.log(err.name + ": " + err.message);
      $('#error_message').append(err.name + ": " + err.message).show();
    });
  }

  $(video).on('resize', function() {
    $('#current_image').hide();
    $('#start_photo_alert').hide();
    $('#photo_booth').show();
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
  });

  // Trigger photo take
  document.getElementById("snap").addEventListener("click", function() {
    $('#snap').contents().last()[0].textContent = ' Lagrer';
    $('#snap i').removeClass('fa-camera').addClass('fa fa-spinner fa-spin fa-fw');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    var dataUrl = canvas.toDataURL('image/png');
    $('#profile_image').attr('src', "")
    $('#profile_image').hide();
    $.ajax({
      type: "POST",
      url: "#{save_image_user_path}",
      data: {
        imgBase64: dataUrl,
        width: canvas.width,
        height: canvas.height
      }
    }).done(function(o) {
      console.log('saved: ' + o);
      window.location = "#{photo_user_path(@user)}?hash=" + o;
    });
  });

- unless has_image
  javascript:
    startPhotoBooth();

.mt-3
  = bootstrap_form_for @user do |f|
    = f.file_field :profile_image_file
    .text-right = f.primary 'Last opp bilde'
