h1 Profilbilde

#error_message.alert.alert-danger.mt-3 style='display: none'
- has_image = @user.persisted? && @user.profile_image
.row
  .col-auto.mx-auto.mt-3.align-self-center
    img#profile_image src=(profile_image_user_path(@user) if has_image) style="width:320px;height:240px;object-fit:contain"
    i#loading.fa.fa-spinner.fa-spin.fa-5x
  .col-auto.mx-auto.mt-3 style="height:240px"
    video#video width="320" height="240" autoplay='autoplay'
    canvas#canvas width="320" height="240" style='display: none'
    button#snap.btn.btn-primary.ml-3.position-absolute type="button" style='display:none;bottom:0;left:0'
      | Ta bilde
      i.fa.fa-camera<

  - @user.profile_images.each do |ui|
    .col-auto.mx-auto.mt-3
      img src=image_path(ui.image) style="width:320px;height:240px;object-fit:contain"
      a.btn.btn-success.position-absolute.mr-3 href=use_user_image_path(ui) data-method=:patch style="right:0"
        i.fa.fa-thumbs-up>
        | Bruk
      a.btn.btn-danger.position-absolute.ml-3 style="bottom:0;left:0" href=with_detour(image_path(ui.image)) data-method=:delete data-confirm="Er du sikker på at du vil slette profilbildet?"
        i.fa.fa-trash>
        | Slett


javascript:
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
      let devices
      try {
        navigator.mediaDevices.enumerateDevices().then(function(devices) {
          devices.forEach(function(device) {
            console.log(device.kind + ": " + device.label +
                " id = " + device.deviceId);
          });
        }).catch(function(err) {
          console.log(err.name + ": " + err.message);
          $('#error_message').append(err).show();
        });
      } catch (error) {
        console.error(error)
        $('#error_message').append(error).show();
      }

      // Not adding `{ audio: true }` since we only want video now
      navigator.mediaDevices.getUserMedia({
        video: true
      }).then(function(stream) {
        video.srcObject = stream;
        video.play();
        $('#snap').show();
      }).catch(function(err) {
        console.log(err.name + ": " + err.message);
        $('#error_message').append(err.name + ": " + err.message).show();
      });

    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
      context.drawImage(video, 0, 0, 320, 240);
      var dataUrl = canvas.toDataURL('image/png');
      $('#profile_image').attr('src', "")
      $('#profile_image').hide();
      $.ajax({
        type: "POST",
        url: "#{save_image_user_path}",
        data: {
          imgBase64: dataUrl
        }
      }).done(function(o) {
        console.log('saved: ' + o);
        $('#profile_image').attr('src', "#{profile_image_user_path(@user)}?hash=" + o)
        $('#profile_image').show();
        $('#loading').show();
      });
    });

      $('img#profile_image').on('load', function() {
        $('#loading').hide();
      });
  }

.mt-3
  = bootstrap_form_for @user do |f|
    = f.file_field :image_file
    .text-right = f.primary 'Last opp bilde'
