<div id="normalcontent" class="post">
  <h3 id="title">Title</h3>

  <div class="contentarea">
    <div class="details">
      <%="Skrevet av #{user.name}"%>
      <%= Date.today.strftime '%Y-%m-%d' %>
    </div>

    <div id="content">
      <!-- Gets filled with editor contents -->
    </div>

  </div>
</div>

<script type="text/javascript">
    $('#title').html($('#news_item_title', opener.document).attr('value'));
    $('#content').html(opener.tinymce.EditorManager.activeEditor.getContent());
</script>
