h1 Teknikkfilm

h3
  a> href=rank_path(@application_video.technique_application.rank) = @application_video.technique_application.rank.name
  a href=technique_application_path(@application_video.technique_application, anchor: :videos_tab) = @application_video.technique_application.name

= render 'images/item', image: @application_video.image

div = @application_video.image.google_drive_reference

=> link_to 'Edit', edit_application_video_path(@application_video)
'|
=< link_to 'Back', application_videos_path
