<% @content_width = 1024 %>

<div style="position: absolute; right: 2.4rem">
  <%= link_to 'Endre', edit_raw_incoming_email_path(@raw_incoming_email), class: 'btn btn-primary' %>
  <%= link_to 'Slett', raw_incoming_email_path(@raw_incoming_email),
          class: 'btn btn-danger', method: :delete,
          data: {confirm: 'Er du sikker på at du vil slette denne e-posten?'} %>
  <%= link_to 'Liste', raw_incoming_emails_path, class: 'btn btn-secondary' %>
</div>

<%= render 'part', part: @raw_incoming_email.mail %>
