<p id="notice"><%= notice %></p>

<pre>
<%= @raw_incoming_email.content %>
</pre>

<%= link_to 'Edit', edit_raw_incoming_email_path(@raw_incoming_email) %> |
<%= link_to 'Back', raw_incoming_emails_path %>
