<%= error_messages_for 'rank' %>

<!--[form:rank]-->
<p><label for="rank_name">Name</label><br/>
<%= text_field 'rank', 'name'  %></p>

<p><label for="rank_colour">Colour</label><br/>
<%= text_field 'rank', 'colour'  %></p>

<p><label for="rank_position">Position</label><br/>
<%= text_field 'rank', 'position'  %></p>
<!--[eoform:rank]-->

