= area_chart member_reports_grade_history_graph_data_path(params.slice(:interval, :step, :percentage)), points: false, height: '24rem', colors: %i[yellow orange green blue brown grey #444444 black].reverse, title: 'Beltegrader voksne'

= bar_chart member_reports_grades_graph_data_path, height: '24rem', colors: %i[yellow orange green blue brown grey #444444 black].reverse, title: 'Beltegrader voksne'