<h1>Listing trial_attendances</h1>

<table>
  <tr>
  </tr>

<% @trial_attendances.each do |trial_attendance| %>
  <tr>
    <td><%= link_to 'Show', trial_attendance %></td>
    <td><%= link_to 'Edit', edit_trial_attendance_path(trial_attendance) %></td>
    <td><%= link_to 'Destroy', trial_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New trial_attendance', new_trial_attendance_path %>