Følgende prøvemedlemmer har utløpt prøvetid:

<ul>
  <% @trials.each do |trial| %>
      <li>
        <%= trial.name %>
        <ul>
          <li>Registrert: <%=trial.reg_dato%></li>
          <li><%=trial.trial_attendances.select{|a| a.date > 1.month.ago.to_date}.size%> treninger siste måneden</li>
          <li><%=trial.trial_attendances.size%> treninger totalt</li>
        </ul>
      </li>
  <% end %>
</ul>
