h2 Hei #{@user.name}!

p Her er nye svar på spørreundersøkelser.

h2 Nye svar (#{@new_answers.group_by(&:survey_request).size})
= render 'summary', answers: @new_answers

h2 Siste 12 måneder (#{@last_year.group_by(&:survey_request).size})
= render 'summary', answers: @last_year

h2 Totalt (#{@total.group_by(&:survey_request).size})
= render 'summary', answers: @total

p
  ' For mer informasjon om spørreundersøkelsene kan du gå til
  = link_to 'oversikten', surveys_url
  | .
