default: &default
  adapter: postgresql
  host: localhost
  username: postgres
  password:
  pool: 50

development:
  <<: *default
  database: rjjk_web_development

test:
  <<: *default
  database: rjjk_web_test

beta:
  <<: *default
  database: rjjk_web_beta
  username: capistrano

production:
  <<: *default
  database: rjjk_production
  username: capistrano
