default: &default
  adapter: postgresql
  host: localhost
  username: postgres
  password:
  pool: 50
  encoding: utf8
  collation: C
  template: template0

development:
  <<: *default
  database: rjjk_web_development

test:
  <<: *default
  database: rjjk_web_test

beta:
  <<: *default
  database: rjjk_web_beta
  username: capistrano

production: &production
  <<: *default
  database: rjjk_production
  username: capistrano

email:
  <<: *production
