<% require 'os' %>

default: &default
  adapter: postgresql
  host: localhost
  pool: 20
  encoding: utf8
  <% if ENV['TRAVIS'].present? %>
  collation: C
  ctype: C
  username: postgres
  password:
  <% elsif OS.linux? %>
  collation: nb_NO.UTF-8
  ctype: nb_NO.UTF-8
  <% elsif OS.mac? %>
  collation: no_NO.UTF-8
  ctype: no_NO.UTF-8
  <% end %>
  template: template0

development:
  <<: *default
  database: rjjk_web_development

test:
  <<: *default
  database: rjjk_web_test

beta:
  <<: *default
  database: rjjk_web_beta
  username: capistrano
  port: 5433

production: &production
  <<: *default
