default: &default
  adapter: postgresql
  host: localhost
  username: postgres
  password:
  pool: 50
  encoding: utf8
  <% if ENV['TRAVIS'].present? %>
  collation: C
  ctype: C
  <% elsif OS.linux? %>
  collation: nb_NO.UTF-8
  ctype: nb_NO.UTF-8
  <% elsif OS.mac? %>
  collation: no_NO.UTF-8
  ctype: no_NO.UTF-8
  <% end %>
  template: template0

development:
  <<: *default
  database: rjjk_web_development

test:
  <<: *default
  database: rjjk_web_test

beta:
  <<: *default
  database: rjjk_web_beta
  username: capistrano

production: &production
  <<: *default
  database: rjjk_production
  username: capistrano

email:
  <<: *production
