<div class="clearfix" style="margin:0 0 10px 0; padding-bottom: 5px">
  <p>
    For å kunne planlegge treningene vil vi gjerne at du forteller hvilke treninger du planlegger å
    komme på.
  </p>

  <p>
    Følg linken til
    <%= link_to '"Mitt oppmøte""', {:only_path => false}.merge(@email_url) %>.
  </p>

  <br clear="all"/>
</div>
