.form title=title_helper
  = head_helper 'Glemt passord'

  .form-padding
    p
      ' Skriv inn e-postadressen din i feltet under, og klikk
      strong Send veiledning
      ' for å motta en e-post med beskrivelse av hvordan du skal få tak i
      ' passordet ditt.

    = form_tag(url_for(action: "#{controller.action_name}")) do
      p
        = text_field :user, :email, size: 30, placeholder: 'e-post', class: 'form-control'

      .btn-toolbar.pull-right
        = link_to 'Avbryt', {action: 'login'}, class: 'btn btn-default'
        = submit_tag 'Send veiledning', class: 'btn btn-primary'

javascript:
  $('#user_email').focus();
