<h1>Hei <%= @member.first_name %> !</h1>

<p>
  Det er på tide å sende invitasjon til
  årsmøtet <%= @annual_meeting.start_at.year %>.
  For å sende invitasjon kan du gå inn på linken under.
</p>
<p>
  <%= link_to "Årsmøte #{Date.current.year}", @email_url %>
</p>
<p>
  Årsmøtet skal holdes i februar og invitasjon skal sendes ut senest 4 uker før
  møtet.
</p>
