/ THE MENU
menu#mainmenuholder
  / THE NAVIGATION HOLDER
  #navigation.menu-main-menu-container
    ul#menu-main-menu
      li.header-menu-closer.visible-phone.visible-tablet
        .menubutton.txt-center
          i.fa.fa-times.fa-2x
      li#menu-item-15458.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item
        a href="/"
          img src=asset_path('rjjk_logo_plus_txt_320.png') style="height:2rem" alt="RJJK Logo"
        .clear
      - @information_pages.select(&:public).reject(&:hidden).each do |ip|
        li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children id="menu-item-#{ip.id}"
          a href=information_page_path(ip.title) = ip.title
          .clear
      li#menu-item-1723.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children
        a href=(current_user ? root_path : with_detour(login_path)) Medlemssider#{" (#{current_user&.name})" if current_user}
        .clear
  .mainmenuholder-wihite
    div
/ END OF MENU
