a.btn.btn-danger.float-right href=basic_technique_link_path(@basic_technique_link) data-method=:delete data-confirm='Er du sikker?'
  i.fa.fa-trash>
  | Slett

h1 Lenke til grunnteknikk

= render 'form'

=> link_to 'Show', @basic_technique_link
= link_to 'Back', basic_technique_links_path
