<h1>Grupper som mangler instruktør</h1>
<table>
  <tr>
    <th>Navn</th>
    <th>Dag</th>
  </tr>
  <% @missing_schedules.each do |gs| %>
      <tr>
        <td><%=link_to gs.group.name, :controller => :group_instructors, :action => :new,
                       :group_instructor => {:group_schedule_id => gs.id} %></td>
        <td><%= gs.weekday_name %></td>
      </tr>
  <% end %>
</table>
