body {
  padding-top: 4rem;
}

.notice {
  position: relative;
  width: 30%;
  height: 3em;
  background: white;
  margin-left: 1em;
  border: 1px solid yellow;
  font-size: 10pt;
  float: left;
}

.notice .inner {
  position: absolute;
  width: 100%;
  height: 4em;
  display: table;
}

.notice .inner p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#member_search {
  position: absolute;
  top: 3.5em;
  right: 2.0em;
  padding-right: 0.0em;
}

#member_search input.text {
  margin-right: 0.5em;
  vertical-align: middle;
  border-top: solid 1px #000000;
  border-right: 0;
  border-bottom: solid 1px #777777;
  border-left: 0;
  padding: 0.15em;
  width: 10.0em;
}

#member_search input.submit {
  /* background: #939B00 asset_url('buttonbg.gif') repeat-x; */
  background: #ffb400;
  border: solid 1px #EC9D48;
  font-weight: bold;
  padding: 0.25em;
  font-size: 0.8em;
  color: #00226C;
  vertical-align: middle;
}

.details {
  font-size: 0.8em;
  color: #787878;
  margin-bottom: 1em;
}

div.main_right > div.padded > div {
  margin-bottom: 1em;
}

div.main_right > .row > div {
  max-height: 100vh;
}

div.main_right div.events p {
  padding: 0;
}

div.main_right ul.controls {
  padding-bottom: 0;
  padding-left: 0;
  width: 100%;
}

div.main_right ul {
  margin: 0 0 1rem 0;
  padding-left: 26px;
}

.main_right form[role=search] {
  margin-bottom: 10px
}

.post h3 {
  margin-bottom: 0;
  color: #046CB8;
}

h4 {
  color: #046CB8;
}

ul.controls {
  clear: both;
  margin-left: 0;
  padding-left: 0;
}

ul.controls li {
  display: inline;
  font-size: 0.8em;
}

ul.controls li a {
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  text-decoration: none;
}

ul.controls li a.printerfriendly {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-printerfriendly.gif');
}

ul.controls li a.comments {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-comments.gif');
}

ul.controls li a.more {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-more.gif');
}

ul.controls li a.edit {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-more.gif');
}

ul.controls li a.back {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-back.png');
}

ul.controls li a.delete {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('button-delete-16x16.png');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: asset_url('dark_ritual/header_left.png') left no-repeat, asset_url('dark_ritual/header_right.png') right no-repeat, asset_url('dark_ritual/header_lines.png') left repeat;
  background-color: #F4F4F4;
  height: 4rem;
  width: 100%;
  padding-right: 4rem;
  border-bottom: 1px solid black;
  z-index: 1;

  .fb-buttons {
    float: right;
  }
}

.container {
  background: #222222;
}

.subnav {
  padding: 0;
  padding-right: 1px;
  margin: 0;
  border: 0;
  background-color: #222222;
  position: fixed;
  transform: translate(-268px, 0);
  top: 0;
  z-index: 1000;
  transition: 0.5s;
  width: 268px;
}

.subnav h1 {
  margin-top: 10px
}

.subnav a {
  line-height: 1.2
}

.subnav li a {
  width: inherit
}


.main_right {
  padding: 0;
  background-color: #222222;
  width: 268px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  transform: translate(268px, 0);
  z-index: 1000;
  overflow-y: scroll;
}

.main_right > div.padded {
  padding-top: 0;
  padding-right: 16px;
  background-color: #222222;
}

.main_right > .row > div {
  width: 224px;
}

#logo_img {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  border: 0;
  margin-bottom: 0.5em;
  transition: 0.5s;
  z-index: 2;
}

.main_right img {
  border: 0;
  width: 100%;
}

@media (min-width: 768px) { // md
  body {
    padding-top: 149px;
  }

  .header {
    height: 150px;
    padding-right: 150px;
    .fb-buttons {
      font-size: 1.8rem;
    }
  }

  #logo_img {
    width: 150px;
    height: 150px;
    transition: 0.5s;
  }

  .main_right {
    transition: z-index 0s ease 0.5s, transform 0.5s;
  }
}

@media (min-width: 992px) { // lg
  body {
    padding-top: 0;
  }
  .header {
    position: relative;
    padding-right: 0;
    .fb-buttons {
      margin-right: 46px;
    }
  }

  #logo_img {
    position: absolute;
    width: 224px;
    height: 224px;
  }

  .main_right {
    padding-top: 224px;
    position: static;
    width: 246px;
    transform: translate(0, 0) !important;
    z-index: 0;
    transition: z-index 0s, transform 0.5s;
  }

  .main_right img {
    width: 224px;
    height: 167px;
  }
}

@media (min-width: 1200px) { // xl
  #logo_img {
    width: 268px;
    height: 268px;
  }

  .subnav {
    position: static;
    transform: translate(0, 0) !important;
  }

  .main_right {
    padding-top: 268px;
    width: 290px;
  }

  .main_right img {
    width: 268px;
    height: 201px;
  }
}

.nav-tabs li {
  list-style-image: none;
}

ul.nav.nav-tabs {
  padding-bottom: 0;
  margin-left: 0;
}

.main_left {
  transition: 0.5s;
}

.main {
  background: asset_url('dark_ritual/bg_shadow_left.png') top left repeat-y, asset_url('dark_ritual/bg_shadow_right.png') top right repeat-y;
  background-color: #F7F7F7;
  padding: 0;
  overflow-x: scroll;
}
