$sidebar_width: 268px;
$right_sidebar_width: 290px;
$logo_light_blue: #046CB8;
$logo_red: #E20916;

.logo-red {
  color: $logo_red !important;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  body {
    margin: 10mm 10mm 10mm 15mm;
    padding-right: 10mm;
  }
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  #main-wrapper {
    min-height: 100%;
  }
}

body:not(.wide) {
  padding-top: 4rem;
}

.notice {
  position: relative;
  width: 30%;
  height: 3em;
  background: white;
  margin-left: 1em;
  border: 1px solid yellow;
  font-size: 10pt;
  float: left;
}

.notice .inner {
  position: absolute;
  width: 100%;
  height: 4em;
  display: table;
}

.notice .inner p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#member_search {
  position: absolute;
  top: 3.5em;
  right: 2.0em;
  padding-right: 0.0em;
}

#member_search input.text {
  margin-right: 0.5em;
  vertical-align: middle;
  border-top: solid 1px #000000;
  border-right: 0;
  border-bottom: solid 1px #777777;
  border-left: 0;
  padding: 0.15em;
  width: 10.0em;
}

#member_search input.submit {
  /* background: #939B00 asset_url('buttonbg.gif') repeat-x; */
  background: #ffb400;
  border: solid 1px #EC9D48;
  font-weight: bold;
  padding: 0.25em;
  font-size: 0.8em;
  color: #00226C;
  vertical-align: middle;
}

.details {
  font-size: 0.8em;
  color: #787878;
  margin-bottom: 1em;
}

#main-menu {
  padding-top: 5px;
  a {
    text-decoration: none;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    &[data-target] {
      cursor: context-menu;
      padding-bottom: 5px;
      &.active {
        background-color: #9C997C;
        border-bottom: 1px solid #696755;
        padding-bottom: 7px;
      }
    }

    &:hover {
      background-color: #9C997C;
    }

  }
  ul {
    margin-bottom: 5px;
  }
}

.main {
  background: asset_url('dark_ritual/bg_shadow_left.png') top left repeat-y, asset_url('dark_ritual/bg_shadow_right.png') top right repeat-y;

  @media print {
    background: white;
    .padded {
      background: white;
    }
    h2 {
      break-before: page;
      margin-top: 2cm;
    }
    table {
      break-inside: avoid-page;
    }
  }

  background-color: #F7F7F7;
  padding: 0;
  overflow-x: scroll;

  h1, h2, h3 {
    @extend .text-body;
  }

  .img-thumbnail[align=right],.img-thumbnail.float-right {
    @extend .ml-3;
  }
}

.main_right {
  background-color: #222222;
  height: 100% !important;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate($sidebar_width, 0);
  transition: 0.5s;
  width: $sidebar_width;
  z-index: 1000;

  h1, h2, h3 {
    color: #CCC;
  }

  > div.padded {
    padding-top: 0;
    padding-right: 16px;
    background-color: #222222;

    > div {
      margin-bottom: 1em;
    }
  }

  > .row > div {
    max-height: 100vh;
  }

  img {
    border: 0;
    width: 100%;
  }

  div.events p {
    padding: 0;
  }

  ul.controls {
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
  }

  ul {
    margin: 0 0 1rem 0;
    padding-left: 26px;
  }

  form[role=search] {
    margin-bottom: 10px
  }

  canvas.chartjs-render-monitor {
    @extend .bg-white;
    @extend .rounded;
  }

  .next-practice-txt {
    flex-grow: 1;
   }
}

.next-practice-btn {
  @extend .ml-2;
}

.md {
  table {
    @extend .table;
  }
}

.post {
  h3 {
    margin-bottom: 0;
    color: $logo_light_blue !important;
  }

  img {
    max-width: 100%;
  }

  .next-practice-btn {
    flex-grow: 1;
   }
}

h4 {
  color: $logo_light_blue !important;
}

ul.controls {
  clear: both;
  margin-left: 0;
  padding-left: 0;
}

ul.controls li {
  display: inline;
  font-size: 0.8em;
}

ul.controls li a {
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  text-decoration: none;
}

ul.controls li a.printerfriendly {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-printerfriendly.gif');
}

ul.controls li a.comments {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-comments.gif');
}

ul.controls li a.more {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-more.gif');
}

ul.controls li a.edit {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-more.gif');
}

ul.controls li a.back {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('icon-back.png');
}

ul.controls li a.delete {
  padding: 0 1.0em 0 20px;
  background-image: asset_url('button-delete-16x16.png');
}

.header {
  background: asset_url('dark_ritual/header_left.png') left no-repeat, asset_url('dark_ritual/header_right.png') right no-repeat, asset_url('dark_ritual/header_lines.png') left repeat;
  background-color: #F4F4F4;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 2;

  .buttons {
    float: right;
    .btn {
      @extend .my-2;
      @extend .my-md-0;
      @extend .mx-1;
      @extend .mx-sm-2;
      @extend .py-0;
      font-size: 2.1rem;
    }
  }
}

body:not(.wide) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
  }
  #logo_img {
    position: fixed;
  }
}

.container {
  background: #222222;
}

body:not(.wide) .container-fluid {
  max-width: 1440px;
}

.subnav {
  padding: 0;
  padding-right: 1px;
  margin: 0;
  border: 0;
  background-color: #222222;
  position: fixed;
  transform: translate(-$sidebar_width, 0);
  top: 0;
  z-index: 1000;
  transition: 0.5s;
  height: 100%;
  width: $sidebar_width;
}

.subnav h1 {
  margin-top: 10px
}

.subnav a {
  line-height: 1.2
}

.subnav li a {
  width: inherit
}

#logo_img {
  position: absolute;
  top: 0;
  right: 50%;
  width: 4rem;
  height: 4rem;
  border: 0;
  margin-bottom: 0.5em;
  transition: 0.5s;
  z-index: 3;

  @media (min-width: 640px) {
    margin-right: -2rem;
  }
}

@media (min-width: 768px) { // md
  body:not(.wide) {
    padding-top: 149px;
    #logo_img {
      right: 0;
    }
  }

  body.wide {
    #logo_img {
      margin-right: -0.7rem;
    }
  }

  .header {
    height: 150px;
    padding-right: 150px;
    .buttons {
      font-size: 1.8rem;
      .btn {
        font-size: 1.7rem;
      }
    }
  }

  #logo_img {
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    transition: 0.5s;
    margin-right: 0;
  }

  .main_right {
    transition: z-index 0s ease 0.5s, transform 0.5s;
  }
}

@media only print and (max-width: 991px) { // smaller than lg
  body:not(.wide) {
    padding-top: 0;
  }
}

@media (min-width: 992px) { // lg
  body:not(.wide) {
    padding-top: 0;

    #sidebarShadow {
      display: none;
    }

    #calendarBtn {
      display: none;
    }

    .header {
      position: relative;
      padding-right: 0;
      .buttons {
        margin-right: 46px;
      }
    }

    #logo_img {
      position: absolute;
      width: $sidebar_width;
      height: $sidebar_width;
    }

    .main_right {
      height: inherit !important;
      max-height: none;
      padding-top: $sidebar_width;
      position: static;
      transform: translate(0, 0) !important;
      transition: z-index 0s, transform 0.5s;
      width: $right_sidebar_width;
      z-index: 0;

      img {
        width: 224px;
        height: 167px;
      }
    }
  }
}

@media (min-width: 1200px) { // xl
  body:not(.wide) {
    #navBtn {
      display: none;
    }
    #menuShadow {
      display: none;
    }
    #logo_img {
      width: $sidebar_width;
      height: $sidebar_width;
    }

    .subnav {
      position: static;
      transform: translate(0, 0) !important;
      height: auto;
    }

    .main_right {
      padding-top: $sidebar_width;
      width: 290px;

      img {
        width: $sidebar_width;
        height: 201px;
      }
    }
  }
}

.nav-tabs li {
  list-style-image: none;
}

ul.nav.nav-tabs {
  padding-bottom: 0;
  margin-left: 0;
}

.main_left {
  transition: 0.5s;
}
