@import "dark_ritual";
@import "bootstrap_adaption";
@import "bootstrap";
@import "chosen";
@import "bootstrap-chosen";
@import "rails_bootstrap_forms";
@import 'dark_ritual_adaption';
@import 'bootstrap-datetimepicker';
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'font-awesome';
@import 'fileinput';

.md {
  table {
    @extend .table;
  }
}
