/*#############################################################
Name: Dark Ritual
Date: 2006-11-06
Description: Tribal-style three column layout.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

a {color: #682;}

a:hover {color: #9A6;}

body {
	background: #333 asset_url('dark_ritual/bg.gif');
	color: #333;
	font: normal 82.5% "Lucida Sans Unicode",sans-serif;
	margin: 3% 0;
}

ul {margin-left: 1.2em;}

h1 {font-size: 1.2em;}

blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}

h1,h2,h3 {color: #994;}

/* misc */
.clearer {clear: both;}
.main_right .padded {padding: 6px 2px 6px 16px;}
.main .padded {
	margin: 18px 24px;
	background: #F7F7F7;
}
.meta {font-size: 0.8em; color: #666;}
.left {float: left;}
.right {float: right;}

/* structure */
.container {
	font-size: 1.2em;
	background: asset_url('dark_ritual/bgcontainer.png') repeat-y;
	margin: 0 auto;
	border: 12px solid #222;
}

/* header */
.header {
  float: left;
  width: 700px;
  height: 100px;
  background: asset_url('dark_ritual/header.png') no-repeat;
  font: normal 2.4em Verdana, sans-serif;
  text-align: center;

  .buttons {
    font-size: 10pt;
    margin-right: 46px;
    a {
      background-color: #ccc;
      border-radius: 5px;
      margin: 4px;
      border: 1px solid #000;
      padding: 10px;
      text-decoration: none;
      float: right;
    }
  }
}

/* structure */
.top {
	background: #222;
	color: #DDD;
	float: left;
	font: normal 1.4em Verdana;
	height: 50px;
	text-align: center;
	width: 699px;
}
.subnav {
	float: left;
	width: 160px;
}
.main {
	float: left;
	width: 540px;
}
.main_right {
	float: right;
	width: 200px;
	color: #CCC;
	background: #222222;
}

/* sub-navigation */
.subnav h1 {
	background: #222;
	color: #FFE;
	font: bold 1.1em Verdana,sans-serif;
	line-height: 24px;
	padding-left: 8px;
}
.subnav ul {margin: 0; padding: 0;}
.subnav li {
	border-bottom: 1px solid #696755;
	list-style: none;
}
.subnav li a {
	background: #89866F;	
	color: #111;
	display: block;
	padding: 8px 0 8px 12px;
	width: 148px;
	text-decoration: none;
}
.subnav li a:hover, .subnav li a.active {
	background: #9C997C;
	color: #000;
}

/* footer */
.footer {
  @extend .py-2;
  background: asset_url('dark_ritual/bgfooter.gif') repeat-x;
  color: #CCC;
  font-size: 0.9em;
  background-color: #61614E;
  text-align: center;
}

.footer .left, .footer .right {
  padding: 0 16px;
}

.footer a {
  color: #EEE;
}

.footer a:hover {
  color: #FAFCB0;
}
