.notice {
    position: relative;
    width: 30%;
    height: 3em;
    background: white;
    margin-left: 1em;
    border: 1px solid yellow;
    font-size: 10pt;
    float: left;
}

.notice .inner {
    position: absolute;
    width: 100%;
    height: 4em;
    display: table;
}

.notice .inner p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#member_search {
    position: absolute;
    top: 3.5em;
    right: 2.0em;
    padding-right: 0.0em;
}

#member_search input.text {
    margin-right: 0.5em;
    vertical-align: middle;
    border-top: solid 1px #000000;
    border-right: 0px;
    border-bottom: solid 1px #777777;
    border-left: 0px;
    padding: 0.15em;
    width: 10.0em;
}

#member_search input.submit {
    /* background: #939B00 url('/assets/buttonbg.gif') repeat-x; */
    background: #ffb400;
    border: solid 1px #EC9D48;
    font-weight: bold;
    padding: 0.25em;
    font-size: 0.8em;
    color: #00226C;
    vertical-align: middle;
}

.details {
    font-size: 0.8em;
    color: #787878;
    margin-bottom: 1em;
}

div.main_right div.events p {
    padding: 0;
}

div.main_right ul.controls {
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
}

div.main_right ul {
    margin: 0;
    padding-left: 26px;
}

.main_right form[role=search] {
    margin-bottom: 10px
}

.post h3 {
    margin-bottom: 0;
    color: #046CB8;
}

.post p.read_more {
    margin-top: -16px;
}

.post ul.controls {
    margin-top: -16px;
}

h4 {
    color: #046CB8;
}

ul.controls {
    clear: both;
    margin: 0;
    padding-left: 0;
}

ul.controls li {
    display: inline;
    font-size: 0.8em;
}

ul.controls li a {
    background-repeat: no-repeat;
    background-position: left;
    padding: 0;
    text-decoration: none;
}

ul.controls li a.printerfriendly {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-printerfriendly.gif');
}

ul.controls li a.comments {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-comments.gif');
}

ul.controls li a.more {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-more.gif');
}

ul.controls li a.edit {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-more.gif');
}

ul.controls li a.back {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-back.png');
}

ul.controls li a.delete {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/button-delete-16x16.png');
}

.header {
    background: url(/assets/dark_ritual/header_left.png) left no-repeat, url(/assets/dark_ritual/header_right.png) right no-repeat, url(/assets/dark_ritual/header_lines.png) left repeat;
    background-color: #F4F4F4;
    height: 150px;
}

.container {
    background: #222222;
}

.main_left {
    /* http://css-tricks.com/examples/CSS3Gradient/ */
    /* http://stackoverflow.com/questions/2504071/is-it-possible-to-combine-a-background-image-and-css3-gradients */
    /* Safari 5.1+, Chrome 10+ */
    background: url(/assets/dark_ritual/bg_shadow_left.png) 27% 0% repeat-y, url(/assets/dark_ritual/bg_shadow_right.png) top right repeat-y, -webkit-linear-gradient(left, #222222, #222222 25%, #F7F7F7, #F7F7F7 25%, #F7F7F7);
    /* Safari 4-5, Chrome 1-9 */
    background: url(/assets/dark_ritual/bg_shadow_left.png) 27% 0% repeat-y, url(/assets/dark_ritual/bg_shadow_right.png) top right repeat-y, -webkit-gradient(linear, left top, right top, color-stop(0%, #222222), color-stop(25%, #222222), color-stop(25%, #F7F7F7));
    /* Firefox 3.6+ */
    background: url(/assets/dark_ritual/bg_shadow_left.png) 27% 0% repeat-y, url(/assets/dark_ritual/bg_shadow_right.png) top right repeat-y, -moz-linear-gradient(left, #222222, #222222 25%, #F7F7F7, #F7F7F7 25%, #F7F7F7);
    background-origin: padding-box, padding-box;
    background-color: #F7F7F7;
}

.main_right {
    padding: 0;
    background-color: #222222;
}

.main_right > div.padded {
    padding-top: 0;
    background-color: #222222;
}

#logo_img {
    border: 0;
    margin-bottom: 0.5em;
}

@media (min-width: 992px) {
    #logo_img {
        width: 218px;
        height: 218px;
    }
}

@media (min-width: 1200px) {
    #logo_img {
        width: 268px;
        height: 268px;
    }
}

.main_right img {
    border: 0;
}

@media (min-width: 992px) {
    .main_right img {
        width: 218px;
        height: 164px;
    }
}

@media (min-width: 1200px) {
    .main_right img {
        width: 268px;
        height: 201px;
    }
}

.nav-tabs li {
    list-style-image: none;
}

ul.nav.nav-tabs {
    padding-bottom: 0;
    margin-left: 0;
}

.subnav {
    padding: 0;
    padding-right: 1px;
    margin: 0;
    border: 0;
    height: 100%;
    background-color: #222222
}

.subnav h1 {
    margin-top: 10px
}

.subnav a {
    line-height: 1.2
}

.subnav li a {
    width: inherit
}

.main {
    background: url(/assets/dark_ritual/bg_shadow_left.png) top left repeat-y, url(/assets/dark_ritual/bg_shadow_right.png) top right repeat-y;
    background-color: #F7F7F7;
    padding: 0;
}

/* Allow equal hight columns */
.stretch {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row-stretch {
    overflow-y: hidden;
}
