.notice {
    position: relative;
    width: 30%;
    height: 3em;
    background: white;
    margin-left: 1em;
    border: 1px solid yellow;
    font-size: 10pt;
    float: left;
}
.notice .inner {
    position: absolute;
    width: 100%;
    height: 4em;
    display: table;
}
.notice .inner p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#member_search {
    position: absolute;
    top: 3.5em;
    right: 2.0em;
    padding-right: 0.0em;
}

#member_search input.text {
    margin-right: 0.5em;
    vertical-align: middle;
    border-top: solid 1px #000000;
    border-right: 0px;
    border-bottom: solid 1px #777777;
    border-left: 0px;
    padding: 0.15em;
    width: 10.0em;
}

#member_search input.submit {
    /* background: #939B00 url('/assets/buttonbg.gif') repeat-x; */
    background: #ffb400;
    border: solid 1px #EC9D48;
    font-weight: bold;
    padding: 0.25em;
    font-size: 0.8em;
    color: #00226C;
    vertical-align: middle;
}

.details {
    font-size: 0.8em;
    color: #787878;
    margin-bottom: 1em;
}

div.main_right div.events p {
    padding: 0;
}

div.main_right ul.controls {
    margin: 0;
    width: 100%;
    text-align: left;
}

h4 {
    color: #046CB8;
}

ul.controls {
    clear: both;
    margin: 0;
}

ul.controls li {
    display: inline;
    font-size: 0.8em;
}

ul.controls li a {
    background-repeat: no-repeat;
    background-position: left;
    padding: 0;
    text-decoration: none;
}

ul.controls li a.printerfriendly {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-printerfriendly.gif');
}

ul.controls li a.comments {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-comments.gif');
}

ul.controls li a.more {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-more.gif');
}

ul.controls li a.edit {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-more.gif');
}

ul.controls li a.back {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/icon-back.png');
}

ul.controls li a.delete {
    padding: 0em 1.0em 0em 20px;
    background-image: url('/assets/button-delete-16x16.png');
}

.header {
    background: url(/assets/dark_ritual/header_left.png) left no-repeat,
                url(/assets/dark_ritual/header_right.png) right no-repeat,
                url(/assets/dark_ritual/header_lines.png) left repeat;
    background-color: #F4F4F4;
}

.container {
    background: url(/assets/dark_ritual/bgcontainer_left.png) top left repeat-y,
                url(/assets/dark_ritual/bgcontainer_right.png) top right repeat-y;
    background-color: #F7F7F7;
}

.main_right > div.padded {
    height: 100%;
    padding-top: 0;
    background-color: #222222;
}

#logo_img {
    margin-bottom: 0.5em;
}

.nav-tabs li {
    list-style-image: none;
}
