h1 Hei #{@member.first_name}!

p Felles gradering for #{@graduation.group.name} er flyttet til <b>#{@graduation.held_on}</b>.

p
  | Ny invitasjon til gradering vil sendes nærmere gradering dersom kravene for gradering er oppfylt.
