<ul>
  <li>
    <%= link_to 'Diplomer', {action: :certificates, id: @graduation.id} %>
  </li>
  <li>
    Sensor <%= link_to 'PDF', action: :censor_form_pdf, id: @graduation.id %>
  </li>
  <li>
    Sensor <%= link_to 'HTML', action: :censor_form, id: @graduation.id %>
  </li>
</ul>
