<%= error_messages_for 'graduation' %>

<!--[form:graduation]-->
<p>
<label for="graduation_held_on">Dato for gradering</label><br/>
<%= select("graduation", "martial_art_id", MartialArt.find(:all).collect { |c| [c.name, c.id] }) %>
<%= date_select 'graduation', 'held_on' %></p>
<!--[eoform:graduation]-->

