<% @content_width = 1024 %>

<h1>Graderinger</h1>

<% year = month = nil %>

<table class="table">
  <% @graduations.each do |g| %>
      <% if g.held_on.cwyear != year %>
          <% year = g.held_on.cwyear %>
          <tr>
            <th><%= g.held_on.cwyear %></th>
          </tr>
      <% end %>
      <% if g.held_on.month != month %>
          <% month = g.held_on.month %>
          <tr>
            <th><%= t(Date::MONTHNAMES[g.held_on.month]) %></th>
          </tr>
      <% end %>
      <tr>
        <td><%=link_to "#{g.group.name} #{g.held_on}", edit_graduation_path(g) %></td>
      </tr>
  <% end %>
</table>
