<h1>Registrer ny gradering</h1>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0">
	<TR><TD>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
	</TD></TR>
	<TR><TD ALIGN="right">
  <%= submit_tag "Registrer" %>
<% end %>
	</TD></TR>
</TABLE>
<!-- %= link_to 'Back', :action => 'list' % -->
