<% for column in Graduation.content_columns %>
<p>
  <strong><%= column.human_name %>:</strong> <%=h @graduation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => :edit, :id => @graduation %> |
<%= link_to 'Back', :action => :index %>
