= render 'events/top_links', event: @event_invitee_message.event_invitee.event

h3 = @event_invitee_message.subject
p = @event_invitee_message.sent_at

p = textalize @event_invitee_message.body

- if admin? && @event_invitee_message.id != 0
  => link_to 'Edit', edit_event_invitee_message_path(@event_invitee_message)
  ' |
= back_or_link_to 'Tilbake', event_invitee_messages_path if detour?
