<h1>Hei <%= @name %>!</h1>

<p>Her er en URL slik at du kan logge på <%= @app_name %> og sette nytt passord.</p>

<p>Vennligst klikk på linken under for å sette nytt passord:</p>

<p><a href="<%= @url %>">Klikk meg!</a></p>

<p>
  Med vennlig hilsen<br/>
  Romerike Jujutsu Klubb
</p>
