h1 Hei #{@recipient.name}!

p Du trenger å planlegge treningsstart og -stop for neste semester!

p
  ' Du kan finne datoene på Skedsmo Komunes websider:
  - skoleruta_url = 'https://www.lillestrom.kommune.no/skole-og-utdanning/ferie-og-fridager-i-skolen/skoleruta-for-lillestromskolen/'
  = link_to skoleruta_url, skoleruta_url

p Gå til denne linken for å skrive inn datoene:

p = link_to 'Fyll in datoer', only_path: false, controller: :groups, action: :edit, id: @group.id

p Dette blir bra!
