<h1>Hei Curt!</h1>

<p>Du trenger å planlegge treningsstart og -stop for neste semester!</p>

<p>Gå til denne linken for å skrive inn datoene:</p>

<p>
  <%= link_to 'Fyll in datoer', :only_path => false, :controller => :groups,
          :action => :edit, :id => @group.id %>
</p>

<p>Dette blir bra!</p>
