<h1>Oppmøtelister</h1>

<% start_date = Date.parse('2009-08-01')
   months = (Date.today.year - start_date.year) * 12 + Date.today.mon - start_date.mon + 1
%>

<form>
  <table class="table">
    <% for group in @groups %>
        <% options = (0..months).map { |i| ["#{t Date::MONTHNAMES[1 + (7 + i) % 12]} #{2009 + (8 + i) / 12}", url_for(:action => :form, :year => (start_date + i.months).year, :month => (start_date + i.months).month, :group_id => group.id)] }.reverse %>
        <tr>
          <td><label><%= group.name %></label></td>
          <td><%= select :group_name, group.name, [[nil, nil]] + options,
                  {prompt: 'Velg måned'},
                  onchange: 'document.location = options[selectedIndex].value',
                  class: 'form-control' %></td>
        </tr>
    <% end %>
  </table>
</form>

<%= link_to 'Andre', {action: :form, group_id: 'others'},
        class: 'btn btn-default' %>
