<h1>Oppmøte for <%=@member.name%> siden innmelding/gradering</h1>

<table border="1" width="100%"  >
  <tr>
    <th>Dato</th>
    <th>Gruppe</th>
  </tr>

<% for attendance in @attendances %>
  <tr>
    <td><%=attendance.date %></td>
    <td><%=attendance.group_schedule.group.name %></td>
  </tr>
<% end %>
  <tr>
    <th>Totalt:</th>
    <th><%= @attendances.size %></th>
  </tr>
</table>
