h1 Hvor bor våre medlemmer?

css:
  #map {
    width: 100%;
    height: 67vh;
    background-color: grey;
  }

#map

- coordinates = Member.active.to_a.map(&:user).select(&:latitude).map{|u|[u.latitude, u.longitude]}

javascript:
    function initMap() {
        var storsenteret = {lat: 59.947753, lng: 11.007052};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: storsenteret
        });
        #{coordinates.map{|lat,lng| "new google.maps.Marker({position: {lat: #{lat}, lng: #{lng}}, map: map})"}.join("\n")}
    }

script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"
