<%=image_tag url_for(:action => :show, :id => @image.id, :format => @image.format), :style => 'float: right; width: 50%'%>
<%= error_messages_for 'image' %>

<!--[form:image]-->
<p><label for="image_content_data">Content data</label><br/>
<%=file_field 'image', 'file'  %></p>
</p>
<!--[eoform:image]-->
