- @content_width = 1024

.row
  .col
    = bootstrap_form_for @information_page do |f|
      = f.error_messages

      .row
        .col-6 = f.text_field :title
        .float-left.mr-3
          .mt-3 &nbsp;
          = f.check_box :hidden
        .float-left.mr-3 style=('color:red' if @information_page.revised_at.nil? || @information_page.revised_at < 6.months.ago)
          .mt-3 &nbsp;
          = f.check_box :revised_at, {checked: false}, 1, nil
        - if @information_page.revised_at
          .float-left.mr-3 style=('color:red' if @information_page.revised_at.nil? || @information_page.revised_at < 6.months.ago)
            .mt-3 &nbsp;
            = @information_page.revised_at.strftime('%Y-%m-%d %H:%M')

      .float-right
        a.btn.btn-link href='https://kramdown.gettalong.org/quickref.html' target=:kramdown
          i.fa.fa-question-circle>
          | Formatering
        button.btn.btn-link.btn-sm.ml-2 type="button" data-toggle="modal" data-target="#image-list-modal"
          i.fa.fa-image>
          | Bilder

      = f.text_area :body, class: :expanding, value: @information_page.body && (document = Kramdown::Document.new(@information_page.body, html_to_native: true)) && document.to_kramdown

      .float-right
        = back_or_link_to 'Tilbake', information_pages_path, class: 'btn btn-link'
        - unless @information_page.new_record?
          a.btn.btn-link.mr-2 href=url_for(@information_page) Vis
        = f.submit 'Lagre', id: :save, class: 'btn btn-primary'

  .col
    .card
      .card-header Forhåndsvisning
      #preview.card-body

/ Image List Modal
#image-list-modal.modal.fade tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false" style="pointer-events: none;"
  .modal-dialog.mr-0 role="document" style="right:0"
    .modal-content style="max-height:90vh"
      .modal-header
        h5#exampleModalLabel.modal-title Bilder
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
      .modal-body style="overflow-y:scroll"
        = render '/images/list', images: @images

css:
  /*#image-list-modal {*/
    /*position: relative;*/
  /*}*/

  /*.modal-dialog {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*padding: 10px;*/
  /*}*/

javascript:
    function getLocation(href) {
        var l = document.createElement("a");
        l.href = href;
        return l;
    }

    function preview() {
        var form_selector = '##{@information_page.new_record? ? :new_information_page : "edit_information_page_#{@information_page.id}"} :input';
        $('#preview').load('preview?' + $(form_selector)
            .map(function () {
                return "" + $(this).attr('name') + "=" + encodeURIComponent($(this).val())
            }).get().join("&"))
    }

    var previewTimeout = null;
    $('input,textarea').on('input', function () {
        if (previewTimeout != null) {
            clearTimeout(previewTimeout);
        }
        previewTimeout = setTimeout(function () {
            previewTimeout = null;
            preview();
        }, 200);
    });

    preview();

    $("#image-list-modal").on('shown.bs.modal', function () {
        $("#image-list-modal").draggable({
            handle: ".modal-header"
        });
        $('body').removeClass("modal-open");
        $(document).off('focusin.modal');
    });

    $(document).ready(function () {
        $("#information_page_body").on('dragenter', function (e) {
            e.preventDefault();
            $(this).css('border', '#39b311 2px dashed');
            $(this).css('background', '#f1ffef');
        });

        $("#information_page_body").on('dragover', function (e) {
            e.preventDefault();
        });

        $("#information_page_body").on('drop', function (e) {
            $(this).css('border', '#07c6f1 2px dashed');
            $(this).css('background', '#FFF');
            e.preventDefault();

            var data_url = e.originalEvent.dataTransfer.getData('URL');

            if (data_url) {
                if (data_url.startsWith("data:")) {
                    return;
                }
                var l = getLocation(data_url);

                $('#information_page_body').val(function (i, text) {
                    if (text && !text.endsWith("\n")) {
                        prefix = "\n";
                    } else {
                        prefix = '';
                    }
                    return prefix + text + "![Bilde](" + l.pathname + "){:width=\"50%\" align=\"right\"}\n";
                });

                $('#information_page_body').trigger('input');
            }

            var images = e.originalEvent.dataTransfer.files;
            if (images.length > 0) {
                console.log(images);
            }
        });
    });

    // https://phppot.com/jquery/responsive-image-upload-using-jquery-drag-and-drop/