<h3>Adresse</h3>

<p>
Stasjonsveien 7<br/>
2010 Strømmen
</p>

<p>
<%=link_to 'Kart', 'http://kart.gulesider.no/kart/map.c?lne=&lnw=&imgt2=MAP&imgt=MAP&id=a_1388542&h=' %>
</p>


<h3>Kontaktpersoner</h3>

<li>Leder: Morten Jacobsen 47326154
<li>Hovedinstruktør: Hans Petter Skolsegg 92259959
<li>Hovedinstruktør junior: Harald Løkken 97743179
<li>Kasserer: Atle Riis Myhrvold 48147919
<li>Medlemsregister: Per Stian Vikan 91118877
