<h2>Priser</h2>

<p>
Romerike Jujutsu Klubb er en frivillig organisasjon, og medlemsavgifter går i sin helhet til husleie og annen drift av klubben.
</p>

<p>
Priser:<br/>
Voksne: kr 300 pr. mnd<br/>
Barn  : kr 260 pr. mnd<br/>
</p>

<p>
I tillegg kommer forsikringspremie:<br/>
Voksne: kr 250,- pr år<br/>
Barn  : kr 170,- pr år<br/>
</p>
