<% @title = 'Rediger Informasjonsside' %>

<% form_tag :action => 'update', :id => @information_page do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Lagre' %>
<% end %>

<%= link_to 'Vis', :action => 'show', :id => @information_page %>
