<% @title = @information_page.title %>

<h1><%= h @information_page.title %></h1>

<%= @information_page.body.try(:html_safe) %>

<% if user? || admin? %>
    <ul class="controls">
      <li><%= link_to 'Rediger', {:controller => :info, :action => 'rediger', :id => @information_page}, :class => :edit %></li>
      <li><%= link_to 'Slett', {:controller => :info, :action => 'destroy', :id => @information_page}, :class => :edit, :confirm => 'Er du sikker?', :method => :post %></li>
    </ul>
<% end %>
