<p>
Romerike Jujutsu Klubb er en frivillig organisasjon som ledes av et styre valgt av medlemmene på årsmøtet.
</p>

<p>
Det sittende styret ble valgt på årsmøtet i juni 2006.
</p>

<p>
Leder: Morten Jacobsen 47326154<br/>
Medlem: Kine Skrimstad 47018465<br/>
Medlem: Per Stian Vikan 91118877<br/>
Medlem: Hans Petter Skolsegg 92259959<br/>
</p>
