<p>
Romerike Jujutsu Klubb er en frivillig organisasjon som ledes av et styre valgt av medlemmene på årsmøtet.
</p>

<p>
Det sittende styret ble valgt på årsmøtet i juni 2006.
</p>

<p>
Leder: Morten Jacobsen<br/>
Medlem: Kine Skrimstad<br/>
Medlem: Per Stian Vikan<br/>
Medlem: Hans Petter Skolsegg<br/>
</p>
