<h3>Trening</h3>

<p>
Alle kurs holdes av erfarne instruktører under kontrollerte forhold.  Trening foregår to ganger i uken i økter på en og en halv time (en time for juniorer).  For spesielt interresserte arrangeres ekstratreninger i helgene.
</p>

<p>
Våre treningsdager er tirsdager og torsdager.
</p>

<p>
Juniorer 8-14 år trener kl 17.45 til 18.45.
</p>
 
 <p>
Voksne over 15 år trener kl 19.00 til 20.30.
</p>
