.header
  - if flash[:notice]
    .fixed-bottom.mx-3.text-left style='position: absolute;font-size:1rem;line-height:1.5'
      .alert.alert-warning.alert-dismissible.fade.show role="alert"
        button.close type="button" data-dismiss="alert" aria-label="Close"
          span aria-hidden="true" &times;
        = textalize flash[:notice]
  i#navBtn.fa.fa-navicon.btn.btn-secondary.m-2.float-left.d-xl-none
  i#calendarBtn.fa.fa-calendar.btn.btn-secondary.m-2.float-left class=('d-lg-none' unless @content_width)

  .d-none.d-md-block.mt-md-5.mb-1 Romerike Jujutsu Klubb

  .fb-buttons
    = link_to 'http://www.facebook.com/home.php#!/pages/Romerike-Jujutsu-Klubb/260684570923?ref=ts', target: 'facebook'
      i.fa.fa-facebook.btn.btn-secondary.my-2.my-md-0.mx-2
    - if user?
      = link_to 'https://www.facebook.com/groups/romerikejjk', target: 'facebook'
        i.fa.fa-facebook-square.btn.btn-secondary.my-md-0.mx-2>
    - unless current_user&.member
      = link_to 'Prøv oss!', 'http://nkfwww.kampsport.no/portal/page/portal/ks_utv/ks_bli_medlem?p_o3_pk_id=162', onclick: 'return !window.open(this.href)'

javascript:
    $('#navBtn').on('click', function () {
        console.log('menu clicked');
        $('.subnav').css('transform', 'translate(0px, 0)');
        $('#shades').css('transition', 'visibility 0s, opacity 0.5s');
        $('#shades').css('visibility', 'visible').css('opacity', '0.5');
        $("body").addClass("modal-open");
    });
    $('#calendarBtn').on('click', function () {
        console.log('calendar clicked');
        $('.main_right').css('transform', 'translate(0px, 0)');
        $('#shades').css('transition', 'visibility 0s, opacity 0.5s');
        $('#shades').css('visibility', 'visible').css('opacity', '0.5');
        $("body").addClass("modal-open");
    });

    $('#shades').on('click', function () {
        console.log('shades clicked');
        $('.subnav').css('transform', 'translate(-268px, 0)');
        $('#shades').css('opacity', '0');
        $('#shades').css('transition', 'visibility 0.5s, opacity 0.5s');
        $('#shades').css('visibility', 'hidden');

        $('.main_right').css('transform', 'translate(268px, 0)');
        $('#shades').css('opacity', '0');
        $('#shades').css('transition', 'visibility 0.5s, opacity 0.5s');
        $('#shades').css('visibility', 'hidden');

        $("body").removeClass("modal-open")
    });
