<h1>Instruksjon</h1>

<div id="instructor_menu">
  <ul>
    <li><%= menu_item 'Oppmøtelister', controller: :attendances, action: :form_index %></li>
    <li><%= menu_item 'Graderinger', controller: :graduations %></li>
  </ul>
</div>