<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Romerike Jujutsu Klubb</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag 'zenlike', :media => 'screen' %>
</head>

<body>

<div id="upbg"></div>

<div id="outer">

	<div id="content">
        <%= yield %>
	</div>

	<div id="footer">
			<div class="left">&copy; 2006 Romerike Jujutsu Klubb. All rights reserved.
    			<% if not user? %>
        			<%= link_to 'Login', :controller => 'user', :action => :login %>
				<% else %>
	    			<% if admin? %>
    	    			<%= link_to 'Nyheter', :controller => 'news', :action => 'new' %>
    	                <%= link_to 'Ny side', :controller => 'info', :action => 'new' %>
    	                <%= link_to 'Brukere', :controller => 'user', :action => :list %>
    				<% end %>
        			<%= link_to 'Logout', :controller => 'user', :action => :logout %>
    			<% end %>
			</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
	
</div>

</body>
</html>
<!-- !DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Graduates: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html -->

