doctype html
html lang="nb"
  head
    title #{"#{Rails.env.upcase} " unless Rails.env.production?}#{ @layout_title || 'Romerike Jujutsu Klubb'}
    meta http-equiv="Content-Type" content="text/html;charset=utf-8"
    meta name="description" content="description"
    meta name="keywords" content="jujutsu aikijutsu jujitsu jiu jitsu strømmen lørenskog skedsmo lillestrøm romerike kampsport kampkunst selvforsvar trygghet trening trim"
    meta name="author" content="author"
    meta name="theme-color" content="#000000"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    link rel="manifest" href='/manifest.json'
    link rel="icon" sizes="192x192" href="/favicon.ico"
    link rel="apple-touch-icon" href="/apple-touch-icon.png"
    link rel="apple-touch-startup-image" href="/rjjk_logo_&_txt_320.png"

    - if Rails.env.production?
      = render 'layouts/google_analytics'

    = stylesheet_link_tag 'parallax', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    scss:
      @import url(https://fonts.googleapis.com/css?family=Nunito);

      html {
        height: 100%;
        overflow: hidden;
      }

      body {
        margin: 0;
        padding: 0;
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: Nunito;
      }

      body.modal-open {
        overflow: visible;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      h1 {
        font-size: 250%
      }

      p {
        font-size: 140%;
        line-height: 150%;
        color: #333;
      }

      .slide {
        position: relative;
        padding: 25vh 10%;
        min-height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
        transform-style: inherit;
      }

      .slide:not(.header):not(footer) img {
        position: absolute;
        top: 50%;
        left: 35%;
        width: 320px;
        height: 240px;
        transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
        padding: 10px;
        border-radius: 5px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
      }

      .slide:not(.header):not(footer):nth-of-type(2n) img {
        right: 15%;
        left: unset;
      }

      .slide:not(.header):not(footer) img:last-of-type {
        transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
      }

      body:not(.modal-open) .slide.header img {
        transform: translateZ(.4px) scale(.6);
      }

      .slide:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
      }

      .slide:nth-of-type(2n):before {
        left: 0;
      }

      .title {
        width: 50%;
        padding: 5%;
        border-radius: 5px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .7);
      }

      .slide:not(.header):nth-child(2n+1) {
        z-index: 2;
      }

      .slide:nth-child(2n) .title {
        margin-left: 0;
        margin-right: auto;
      }

      .slide:nth-child(2n+1) .title {
        margin-left: auto;
        margin-right: 0;
      }

      .slide, .slide:before {
        background: 50% 50% / cover;
      }

      .header {
        text-align: center;
        font-size: 175%;
        color: #fff;
        text-shadow: 0 2px 2px #000;
      }

      #title {
        z-index: 2;
      }

      body:not(.modal-open) #title h1, h2 {
        transform: translateZ(.25px) scale(.75);
        transform-origin: 50% 100%;

      }

      #footer {
        background: #222;
      }

  body class=(:wide if @content_width)
    = yield
    = yield :modals
    = render 'layouts/parallax/footer', information_pages: @information_pages, news_items: @news_items
