<html>
<head>
  <title>Klubben</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" value="selvforsvar, kampsport, jujutsu, ju jutsu, ju jitsu, jiu jutsu, jiu jitsu, kempo, kei wa ryu, yamaue">
  <%= stylesheet_link_tag('live_tree') %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "live_tree" %>
  <%= stylesheet_link_tag 'rjjk' %>
 </head>

<body bgcolor="#ffffff" background="<%=url_for '/images/brick_wall.gif' %>">

<!-- Header -->

<table border="0" width="95%" align="center">

<tr>
<td align="left" valign="top">

<a href="/">

<img src="<%=url_for '/images/rjjk_logo.png'%>" align="left" width="120" height="120" border="0" alt="Stiftet 1982">

</a>

</td>
<td align="center" valign="center" width="100%">

<h1 style='font-size:24.0pt;font-family:georgia'><%=@title ? @title : @controller.action_name.capitalize%></h1>

</td>
<td align="right" valign="top" style="width: 100px; text-align: right;">

<a href="/espresso/pages/RJJK/klubben/Stil_-_Kei_Wa_Ryu/view.html">

<img src="<%=url_for '/images/kwr_logo.png'%>" width="116" height="119" border="0" alt="Kei Wa Ryu Logo">

</a>

</td>
</tr>

<!-- Top menu -->

<tr cellpadding="0">
<td align="left" nowrap>
</td>

<td colspan="2" align="center">

<!--
[<a href="http://www.jujutsu.no/espresso/pages/RJJK/arkiv/viewmidt.html">Arkivet</a>]

[<a href="http://www.jujutsu.no/espresso/pages/RJJK/kontakt/viewmidt.html">Kontakt oss!</a>]

[<a href="http://www.jujutsu.no/espresso/pages/RJJK/klubben/viewmidt.html" class="activetopmenu">Klubben</a>]

[<a href="http://www.jujutsu.no/espresso/pages/RJJK/linker/viewmidt.html">Linker</a>]

[<a href="http://www.jujutsu.no/espresso/pages/RJJK/nyheter/viewmidt.html">Nyheter</a>]
-->

</td>
</tr>
</table>


<!-- Page body -->

<table border="0" width="95%" align="center">
<tr cellpadding="0">

<!-- Left column -->

<td align="left" valign="top">

<% if @information_page %>
<!-- Menu -->

<b>Informasjon:</b><br>

<!--div style="width:300px;height:415px"-->
    <%= live_tree(:information_tree, {
        :initial_data_root => @information_root,
#        :on_click_item => "new Ajax.Updater('main', '/info/show_content/' + item.id, {asynchronous:true, evalScripts:true}); return false;",
        :on_click_item => "window.location='#{url_for :controller => 'info', :action => :show, :id => nil}/' + item.id; return false;",
    }) %>
<!--/div-->


<!-- End menu -->
<% end %>

<!-- Links -->


<% if @news_items.size > 0 %>
<!-- Recent News -->
<br>

<b>Nyheter:</b><br/>

<% @news_items.each do |news_item| %>
<font size="4">
<%=link_to news_item.title, :class => 'menu', :controller => :info, :action => :show, :id => news_item %><br>
</font>
<font size="2">
<%= news_item.created_at %><br>

</font>
<% end %>
<% end %>

<!-- Recent Articles -->

<% if @new_pages.size > 0 %>
<!-- Recently created -->
<br>

<b>Nye Sider:</b><br/>

<% @new_pages.each do |page| %>
<font size="4">
<%= link_to page.title, :controller => 'info', :action => :show, :id => page %><br>
</font>

<font size="2">
<%=page.created_at.iso8601 %><br>
</font>
<% end %>
<% end %>

</td>

<!-- Main content -->
<td colspan="1" valign="top" width="50%">

<div id="main" class="body">
<%= yield  %>
</div>

</td>

<!-- Right column -->

<td class="right_column">

<!-- Javascript should be moved to separate frame! -->
<script type="text/javascript">
function openWindow(name, url, width, height) {
  getWindow(name, url, "width="+width+",height="+height+",status,toolbar,menubar,scrollbars,resizable,location");
}

function popUp(name, url, width, height) {
  getWindow(name, url, "width="+width+",height="+height+",status=no,toolbar=no,menubar=no,scrollbars=no,resize=no,dependent=yes");
}

function getWindow(name, url, parameters) {
  ResVin=open("",name, parameters);
  ResVin.focus();

  var Show=url;
  navn    = navigator.appName;
  versjon = parseFloat(navigator.appVersion);

  if(true || navn != "Microsoft Internet Explorer"){
    ResVin.location=url;
  } else {
    ResVin.document.open();
    ResVin.document.writeln('<html><head><title>RJJK - Espresso - Link</title></head>');
    ResVin.document.writeln('<frameset rows="*"> \n');
    ResVin.document.writeln('<frame src="' + Show + '" border="0"> \n');
    ResVin.document.writeln('</frameset> \n');
    ResVin.document.writeln('</html> \n');
    ResVin.document.close();
  }
}
</script>


<!-- Messages -->
<font color="red">

</font>

<!-- Search -->
    
      <form name="object561Form" action="http://www.jujutsu.no/espresso/pages/RJJK/Søkeside/viewmidt.html">
        <b>Søk:</b> <input name="searchString" type="text" value="" size="10" maxsize="30" oonchange="form.submit();">

      </form>
    

<!-- User -->
<br>

<!-- Begin 'Login'-->
<% if user? %>
  <%=button_to l(:user_logoff_button), :controller => 'user', :action => :logout %><br/>
<% else %>
<div title="<%= title_helper %>" class="form" align="right">
  <div class="form-padding">
    <%= form_tag :controller => 'user', :action => :login %>
      <table>
        <%= form_input :text_field, "login", :size => 10 %><br/>
        <%= form_input :password_field, "password", :size => 10 %><br/>
      </table>

      <div class="button-bar">
        <%= button_helper 'login', :controller => 'user' %>
        <%= link_helper 'login_signup', :controller => 'user', :action => 'signup' %> | 
        <%= link_helper 'login_forgot_password', :controller => 'user', :action => 'forgot_password' %>      </div>
    <%= end_form_tag %>
  </div>
</div>
      
  <script type="text/JavaScript">document.loginForm.EspressoUID.focus();</script>
<% end %>
<!-- End Login -->

<!-- Standardlinker -->

[<%= link_to 'Ny Informasjonsside', :controller => 'info', :action => :new, :parent_id => params[:id] %>]<br>

<!-- Begin Globale Linker -->

<br>

<b>Linker:</b><br>

<a href="http://www.kampsport.no/">Norges Kampsportforbund</a>

<br>
<a href="http://home6.inet.tele.dk/yamaue/">Yamaue</a>

<br>

<!-- End Globale Linker -->

</td>

</tr>


<!-- Footer -->

<tr>

  <td colspan="3" align="right" nowrap>

&copy; 1999-2006 Romerike Jujutsu Klubb

  </td>
</tr>
</table>
</body>
</html>
