<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Romerike Jujutsu Klubb</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%=javascript_include_tag "prototype" %>
<%=javascript_include_tag "effects" %>
<%=stylesheet_link_tag 'zenlike', :media => 'screen' %>
<%=stylesheet_link_tag 'zenlike_adaption', :media => 'screen' %>
</head>

<body>

<div id="upbg"></div>

<div id="outer">

	<div id="header">
		<%=image_tag 'rjjk_logo.png', :style => 'border: 0' %>
		<div id="headercontent">
			<h1><%=@page_title || 'Romerike Jujutsu Klubb' %></h1>
			<h2><%=@page_subtitle || 'Effektivt selvforsvar siden 1982' %></h2>
		</div>
	</div>

	<div id="member_search">
		<% if admin? %>
			<%=render :partial => '/members/search_form'%>
		<% end %>
	</div>

	<div id="search">
		<form method="get" action="http://www.google.com/search">
			<input type="hidden" name="as_sitesearch" value="jujutsu.no" />
			<input type="text" class="text" maxlength="64" name="q" />
			<input type="submit" class="submit" value="Søk" />
		</form>
	</div>


	<div id="headerpic"></div>

	
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><%=link_to 'Nyheter', {:controller => 'news', :action => nil}, :class => controller.class.name == 'NewsController' ? 'active' : nil %></li>
            <%
			# Endret fremvisningsmetoden slik at vi tar høyde for maks 1024 pixel oppløsning
            # Dersom antall pixler overstiger 1024 lages det en ny meny linje for de neste meny punktene
			# Verdiforklaring:
			#	64 * 2 pixel buffer på høyre og venstre side av rammen
			#		Denne må endres dersom størrelsen på rammen endres i zenlike.css
			#	størrelse av navn på meny punkt * 10 gir ca skjermlengde av navnet
			#		Denne må endres dersom man endrer font størrelse eller font type endres i zenlike.css
			# Hvis denne endres, husk å endre graduations.rhtml i app/views/layouts
			msz = 64 * 2
			@information_pages.each do |ipg|
				msz += ipg.title.size * 12
				if msz <= 1024
			%>
					<li><%=menu_item ipg.title, :action => :show, :id => ipg.id %></li>
			<%  else %>
					<% msz = 64 * 2 %>
					</ul></div>
					<div id="menu"><ul>
					<li><%=menu_item ipg.title, :action => :show, :id => ipg.id %></li>
			<%  end
			end %>
		</ul>
	</div>
		<% if admin? %>
		<div id="menu">
			<ul>
			<li><%=menu_item 'Medlemsliste', :controller => 'members', :action => :list_active %></li>
			<li><%=menu_item 'Inntekt', :controller => 'members', :action => :income %></li>
			<li><%=menu_item 'Kontrakter', :controller => 'members', :action => :active_contracts %></li>
			<li><%=menu_item 'Telefonliste', :controller => 'members', :action => :telephone_list %></li>
			<li><%=menu_item 'E-postliste', :controller => 'members', :action => :email_list %></li>
			<li><%=menu_item 'NKF Rapport', :controller => 'members', :action => :NKF_report %></li>
			</ul>
		</div>
		<div id="menu">
			<ul>
			<li><%=menu_item 'Gamle medlemmer', :controller => 'members', :action => :list_inactive %></li>
			<li><%=menu_item 'Versjon', :controller => 'info', :action => :versjon %></li>
			</ul>
		</div>
		<div id="menu">
			<ul>
				<li><%=menu_item 'Graderinger', :controller => 'graduations' %></li>
				<li><%=menu_item 'Stiler', :controller => 'martial_arts' %></li>
				<li><%=menu_item 'Grader', :controller => 'ranks' %></li>
				<li><%=menu_item 'Oppmøtelister', :controller => 'members', :action => :attendance_form_index %></li>
			</ul>
		</div>
		<% end %>
	<div id="menubottom">
	</div>

	
	<div id="content">
        <%= yield %>
	</div>

	<div id="footer">
			<div class="left">&copy; 2006 Romerike Jujutsu Klubb. All rights reserved.
    			<% if not user? %>
        			<%= link_to 'Login', :controller => 'user', :action => :login %>
				<% else %>
	    			<% if admin? %>
    	    			<%= link_to 'Ny nyhet', :controller => 'news', :action => 'new' %>
    	                <%= link_to 'Ny side', :controller => 'info', :action => 'new' %>
    	                <%= link_to 'Brukere', :controller => 'user', :action => :list %>
    				<% end %>
        			<%= link_to 'Logout', :controller => 'user', :action => :logout %>
    			<% end %>
			</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
	
</div>

</body>
</html>