<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Romerike Jujutsu Klubb</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<%= stylesheet_link_tag 'zenlike', :media => 'screen' %>
</head>

<body>

<div id="upbg"></div>

<div id="outer">

	<div id="header">
		<div id="headercontent">
			<h1><%=@page_title || 'Romerike Jujutsu Klubb' %></h1>
			<h2><%=@page_subtitle || 'Effektivt selvforsvar siden 1982' %></h2>
		</div>
	</div>


	<form method="get" action="http://www.google.com/search">
		<div id="search">
			<input type="hidden" name="as_sitesearch" value="jujutsu.no" />
			<input type="text" class="text" maxlength="64" name="q" />
			<input type="submit" class="submit" value="Search" />
		</div>
	</form>


	<div id="headerpic"></div>

	
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
<!--
			<li><a href="#">Home</a></li>
-->
			<li><%=link_to 'Nyheter', {:controller => 'news', :action => nil}, :class => controller.class.name == 'NewsController' ? 'active' : nil %></li>
<!--
			<li><a href="#">Blog</a></li>
			<li><a href="#">Gallery</a></li>
-->
			<li><%=link_to 'Om klubben', {:controller => 'info', :action => :om_klubben}, :class => [controller.controller_name, controller.action_name] == ['info', 'om_klubben'] ? 'active' : nil %></li>
			<li><%=link_to 'Kontakt', {:controller => 'info', :action => :kontakt}, :class => [controller.controller_name, controller.action_name] == ['info', 'kontakt'] ? 'active' : nil %></li>
		</ul>
	</div>
	<div id="menubottom"></div>

	
	<div id="content">
        <%= yield %>
	</div>

	<div id="footer">
			<div class="left">&copy; 2006 Romerike Jujutsu Klubb. All rights reserved.
    			<%= link_to 'New news_item', :controller => 'news', :action => 'new' %>
			</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
	
</div>

</body>
</html>