<%= form_tag({:controller => :members, :action => :search}, :method => :get) do %>
    <label for="q">Søk etter:</label>
    <%= text_field_tag :q, params[:q], :class => 'input-medium search-query', :placeholder => :Medlem %>
    <input type="submit" value="Søk" class="btn"/>
<% end %>

<%= javascript_tag do %>
    $('#q').select();
    $('#q').focus();
<% end %>

<% if @invalid %>
    <p>Ugyldige tegn i søk.</p>
<% end %>
