<%= form_tag({controller: :members, action: :search}, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :q, params[:q], class: 'form-control', :placeholder => 'Søk etter medlem' %>
    <%= submit_tag 'Søk', class: 'btn btn-primary' %>
<% end %>

<%= javascript_tag do %>
    $('#q').select();
    $('#q').focus();
<% end %>

<% if @invalid %>
    <p>Ugyldige tegn i søk.</p>
<% end %>
