<h1>Inntekter</h1>

<table>
<% total = 0 %>
<% nkf_total = 0 %>
<% for member in @members %>
  <% total += member.fee %>
  <% nkf_total += member.nkf_fee %>
<% end %>
  <tr>
    <td colspan="2">Totalt</td>
    <td align="right"><%=total %></td>
  </tr>
  <tr>
    <td colspan="2">Satt av til NKF</td>
    <td align="right"><%=nkf_total %></td>
  </tr>
  <tr>
    <td colspan="2">Disponibelt</td>
    <td align="right"><%=total - nkf_total %></td>
  </tr>
</table>
